<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Nested Draggable</title>
  <link rel="stylesheet" href="user/styles.css">
  <style>
     body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
  </style>
</head>

<body>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Menü Ekle</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="items" method="post"> 
            <div class="form-group">
              <label for="exampleInputEmail1">Menü İsmi</label>
              <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Menü İsmi">
             
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Url</label>
              <input type="text" class="form-control" name="url" id="exampleInputPassword1" placeholder="Url">
            </div>
            <button type="submit" class="btn btn-primary">Menü Kaydet</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="" style="align-items: center;justify-content: center;">
    <div class="card ">
      <div class="card-header">
        <h3>Menü Ekle</h3>
        <button  data-toggle="modal" data-target="#exampleModal" class="btn btn-primary float-right">Menü Ekle</button>
      </div>
      <div class="card-body">
       
        <div class="main-cart" id="app">
          <div v-for="(item, index) in items" :key="index" class="draggable item" draggable="true" @dragstart="handleDragStart(index)" @dragover="handleDragOver" @drop="handleDrop(index)">
            <div style="width: 35rem; text-align: left;" class="item">
              {{ item.name }}
              <span>
                item order =>{{ index + 1 }}</span>
      
              <input type="hidden" name="order" :value="index + 1">
      
              <form style="display: inline;" action="menuDelete" method="post">
                <input type="hidden" name="id" :value="item._id">
                <button type="submit" class="btn float-right">
                  <svg xmlns="http://www.w3.org/2000/svg" style="vertical-align: baseline;" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
                  </svg>
                </button>
              </form>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>

 



  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="user/script.js"></script>
</body>

</html>